* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(89,95,84,255);
    height: 100vh;
}

header, main {
    width: 90vh;
    text-align: center;
    margin: auto;
}

.header {
    position: relative;
    width: 100%;

}

img {
    width: 90vh;
    max-height: 100%;
    display: block; 
}

label {
    color: aliceblue;
    font-weight: bold;
    text-shadow: 4px 4px 6px #000; 
    display: flex;
    justify-content: left;  
    font-size: 1.1em;  
    padding-bottom: 5px; 
}

form {
    width: 35%;
    position: absolute;
    top: 30px;
    left: 16px;
    display: flex;
    flex-direction: column;    

}

.entity {
    color: red;
}

input[type=text]{
    padding: 8px 8px;
    border-radius: 3%;
    border-color: white;
}

select {
    padding: 8px 8px;
    border-radius: 3%;
    border-color: white;
}

input[type=submit] {
    background-color: rgba(4,75,8,255);
    border: none;
    color: white;
    padding: 10px 9px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3%;
    border-color: white;
    width: 30%;
    margin-left: 30%;
}

#napomena {
    width: 130%;
    height: 100px;
    border-radius: 3%;
    border-color: white;
}

.narudzbine {
    margin-top: 2%;
    margin-bottom: 5%;    
}

input[type=button]{
    display: flex;
    justify-content: left;
    margin-left: 3%;
}

.naslov {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

h1 {
    padding: 5%;
}